@use "/assets/styles/config" as *;

.p-header{
  position: absolute; top: 0; left: 0; width: 100%; z-index: 99; height: $header-h; background: $color-theme-alt; border-bottom: 1px solid $c-border;
  .has-scrolled--up &{ position: fixed; top:$admin-h; animation: slide-from-top $animation-duration $ease-out-cubic both }
  .has-scrolled--down.has-scrolled--changed &{ position: fixed; top:$admin-h; animation: slide-to-top $animation-duration $ease-out-cubic both }
  .container{ height: 100%; align-items: center; flex-direction: row; }
  .p-burger{
    margin-left: $space-l; display: none;
    @media #{$to-tablet} { display: inline-flex }
  }
  .p-menu{
    @media #{$to-tablet} { display: none }
  }
  &__brand{ flex-basis: 50%; height: 100% }
  &__logo{
    font-size: 0; color: transparent; display: block; max-width: 50vw; position: relative; height: 100%; width: 6rem;
    &:after{
      position: overlay(); background: url('/assets/media/images/logo.svg') no-repeat center; background-size: contain;
      content: ''; transition: allow(opacity);
    }
  }
  &__baseline{
    @media #{$to-tablet} { display: none }
  }
  &__actions{ flex-basis: 50%; display: flex; justify-content: flex-end; align-items: center }
}