.b-hero{
  background: $c-theme-alt; padding: $space-section 0;
  .container{ align-items: center; grid-gap: $space }
  &__suptitle{ @extend %text-small }
  &__title{ @extend %title-main }
  &__image{
    width: 100%;
    img{ margin: auto }
    .image-placeholder{ aspect-ratio: 800/200; max-width: 800px; margin: auto }
  }
}