@use "/assets/styles/config" as *;
@use "/assets/styles/layout/text" as *;

.b-toggles{
  .c-dropdown{
    &__toggle{
      background: $c-theme-alt; padding: $space-l; padding-right: $space-section; position: relative; display: block;
      @extend %text-hero; font-weight: 500;
    }
  }
}