<section class="b-dropdown">
	<div class="container">
		<dropdown title="{{ props.title }}">
			{% if is_admin %}
				<a class="c-dropdown__toggle">{{ props.title }}</a>
			{% endif %}
			<div class="wysiwyg b-dropdown__content">
				{{ props.description|raw }}
			</div>
		</dropdown>
	</div>
</section>