@use "/assets/styles/config" as *;
@use "/assets/styles/layout/text" as *;

.b-dropdown{

  &__content{
    background: $c-border; padding: $space-l; padding-right: $space-xl;
    @media #{$to-phone} { padding: $space-m; padding-right: $space-l }
  }

  .c-dropdown{
    &__toggle{
      background: $c-theme-alt; padding: $space-l; padding-right: $space-section; position: relative; display: block;
      @extend %text-hero; font-weight: 500;
    }
  }
  dropdown{
    display: none;
    .acf-block-preview &{ display: block }
  }
}