@use "sass:list";
@use "sass:map";
@use "sass:string";

@use "../config" as *;

$font-families : ()!default;
$font-woof2 : true!default;
$font-woof  : false!default;
$font-display : auto!default;

@each $font in $fonts {

  $family   : list.nth($font, 1);
  $variant  : list.nth($font, 2);
  $weight   : list.nth($font, 3);
  $style    : list.nth($font, 4);
  $stretch  : list.nth($font, 5);
  $fallback : list.nth($font, 6);
  $version  : list.nth($font, 7);
  $src      : #{$family}/#{$family}-#{$variant}-#{$style};

  @font-face {
    font-family: "#{$family}";
    @if $font-woof2 and $font-woof{
      src: url('#{$font-path}/#{$src}.woff2') format('woff2'), url('#{$font-path}/#{$src}.woff') format('woff');
    }
    @else if $font-woof2 {
      src: url('#{$font-path}/#{$src}.woff2') format('woff2');
    }
    @else if $font-woof {
      src: url('#{$font-path}/#{$src}.woff') format('woff');
    }
    @if $weight == 'variable'{
      font-optical-sizing: auto;
    }
    @else {
      font-weight: #{$weight};
    }
    font-style: #{$style};
    font-stretch: #{$stretch};
    font-display: #{$font-display};
  }


  @if not map.has-key($font-families, string.to-lower-case($family)){
    $new-font: (string.to-lower-case($family): '#{$family}, #{$fallback}');
    $font-families : map.merge($font-families, $new-font);
  }
}
