.block-editor-iframe__body{
  .edit-post-visual-editor__post-title-wrapper{
    display: none;
  }
  &:after{ height: $space-s!important;}
}

.is-mobile-preview{ border: 0!important; border-radius: 8px!important; }

#wpadminbar { position: fixed!important; }