:root{
  @media #{$to-phone} {
    --space-xxxl: 6rem;
    --space-xxl: 4rem;
    --space-xl: 4rem;
    --space-section: 8rem;
    --header-h: 8rem;
  }
}

.desktop {
  --app-height: 100vh!important;
  --app-init-height: 100vh!important;
}

.admin-bar{
  --admin-h: 32px;
  @media #{$to-phone} {
    --admin-h: 46px
  }
}