@use "sass:list";
@use "sass:math";
@use "sass:string";

@function allow($properties, $speed:$transition-duration, $easing:$ease-in-out-cubic, $performance:true) {

  $will-change : ();
  $i           : 0;

  @if($speed == false ){
    $speed : $transition-duration
  }

  @each $property in $properties {

    $will-change : list.append($will-change, $property);
    @if($i < list.length($properties)-1){
      $will-change : list.append($will-change, string.unquote(','));
    }
    $i: $i+1;
  }

  @if($performance == true ){
    @return $will-change+string.unquote('; transition-duration:')+$speed+string.unquote('; transition-timing-function:')+$easing+string.unquote('; will-change:')+$will-change+string.unquote(';');
  }
  @else{
    @return $will-change+string.unquote('; transition-duration:')+$speed+string.unquote('; transition-timing-function:')+$easing+string.unquote(';');
  }
}

$transition-duration : 0.3s !default;
$transition-delay : math.div($transition-duration,6) !default;

$speed-very-fast : math.div($transition-duration,2) !default;
$speed-fast      : $transition-duration !default;
$speed-slow      : $transition-duration*2 !default;
$speed-very-slow : $transition-duration*4 !default;
