// Unsupported Browsers

$unsupported-text-en: 'Your browser is out of date!\AUpdate your browser to view this website correctly.'!default;
$unsupported-text-fr: 'Votre navigateur est obsolète !\AMettez-le à jour pour afficher correctement ce site.'!default;

.unsupported-browser{
  height: 100vh; overflow: hidden; position: relative;
  > *, &:before{ display: none!important; visibility: hidden!important }
  &:after{
    position: absolute; left: 0; width: 100%; top: 50%; margin-top: -0.5em; content:$unsupported-text-en;
    line-height: 150%; text-align: center; font-size: 15px; z-index: 9999; white-space: pre-wrap; font-weight: normal;
  }
}

html[lang="fr"] .unsupported-browser:after{ content: $unsupported-text-fr }
