<div class="p-video">
	<youtube id="{{ props.video|youtube_id }}">
		{% if props.cover|default %}
			<img class="p-video__cover" src="{{ props.cover|picture(1280, 720) }}" alt="" loading="lazy" width="1280" height="720"/>
		{% else %}
			<img class="p-video__cover p-video__cover--hosted" src="https://img.youtube.com/vi/{{ props.video|youtube_id }}/maxresdefault.jpg" alt="" loading="lazy" width="1280" height="720"/>
		{% endif %}
	</youtube>
</div>
