.p-video{
  position: relative; cursor: pointer; background: $c-black;  display: block;

  img{
	  width: 100%; height: auto; opacity: 0.9; object-fit: cover!important; aspect-ratio: 16/9; max-width: none;
	  max-height: 80vh;
  }
}
