.c-youtube{
  display: block; @include icon('play');
  &:after{
    content: ""; position: absolute; left: 50%; top: 50%; width: 10rem; height: 10rem;
    border-radius: 50%; background: $c-theme; transform: translate(-50%, -50%);
    @media #{$to-phone} { width: 8rem; height: 8rem }
  }
  &:before{
    z-index: 1; position: absolute; left: 50%; top: 50%; color: $c-white;
    transform: translate(-50%, -50%); font-size: $font-l; margin-left: 2px;
  }
  &__cover{ width: 100%; height: auto; max-width: none }
  &__iframe{ position: overlay(); z-index: 1; width: 100%; height: 100% }
}